In [17]:
import pandas as pd
import glob
df = pd.read_csv("ct_bus_details.csv")
df = pd.read_csv("hr_bus_details.csv")
df = pd.read_csv("jk_bus_details.csv")
df = pd.read_csv("ktcl_bus_details.csv")
df = pd.read_csv("nbs_bus_details.csv")
df = pd.read_csv("pepsu_bus_details.csv")
df = pd.read_csv("sbstc_bus_details.csv")
df = pd.read_csv("ts_bus_details.csv")
df = pd.read_csv("wb_bus_details.csv")
df = pd.read_csv("wbstc_bus_details.csv")

# List of CSV file paths
csv_files = ["ct_bus_details.csv", "hr_bus_details.csv", "jk_bus_details.csv", 
             "ktcl_bus_details.csv", "nbs_bus_details.csv", "pepsu_bus_details.csv",
             "ts_bus_details.csv", "wb_bus_details.csv", "wbstc_bus_details.csv", 
             "sbstc_bus_details.csv"]   

# Read each CSV file into a DataFrame and store it in a list
df = [pd.read_csv(file) for file in csv_files]

In [18]:
# Concatenate all DataFrames in the list
combined_df = pd.concat(df, ignore_index=True)

combined_df.to_csv("bus5_routes.csv", index=False)

In [19]:
#add id column
id_column = pd.Series(range(1, len(combined_df) + 1), name='id')
combined_df = pd.concat([id_column, combined_df], axis=1)
df = pd.read_csv("bus5_routes.csv")

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_Name         505 non-null    object
 1   Route_Link         505 non-null    object
 2   Bus_Name           486 non-null    object
 3   Bus_Type           481 non-null    object
 4   Departing_Time     485 non-null    object
 5   Duration           485 non-null    object
 6   Reaching_Time      485 non-null    object
 7   Star_Rating        483 non-null    float64
 8   Price              485 non-null    object
 9   Seat_Availability  483 non-null    object
dtypes: float64(1), object(9)
memory usage: 39.6+ KB

In [24]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [30]:
import pymysql

# Connect to MySQL
myconnection = pymysql.connect(host='localhost', user='chakradhar', passwd='chakradhar123456789', database="bus")

# Drop null values in the DataFrame before inserting into MySQL
combined_df = combined_df.dropna()

# Mapping pandas dtypes to MySQL-compatible types
col_types = ",".join(f"{col} {dtype}"
                     for col, dtype in zip(combined_df.columns, combined_df.dtypes))
col_types = col_types.replace("float64", "FLOAT").replace("object", "TEXT").replace("int64", "INT")

# Create cursor
cursor = myconnection.cursor()

# Create table with IF NOT EXISTS
table_name = "All1"
create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ({col_types})"
cursor.execute(create_table_query)

# Insert data into MySQL using parameterized queries
insert_query = f"INSERT INTO {table_name} VALUES ({', '.join(['%s'] * len(combined_df.columns))})"

for row in combined_df.itertuples(index=False, name=None):
    cursor.execute(insert_query, row)

# Commit the transaction
myconnection.commit()

# Close cursor and connection
cursor.close()
myconnection.close()